@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1>@Model.Title </h1>
<p><strong>Status Code:</strong> @Model.StatusCode</p>

@if (Model.Messages?.Any() == true)
{
    <ul>
        @foreach (var msg in Model.Messages)
        {
            <li>@msg</li>
        }
    </ul>
}
else
{
    <p>No additional details.</p>
}
